h1{
    color:#ff6666;
    text-align: center;
};x
h2{
    color:greenyellow;
    font-style: italic;
    text-align: center;
}
p{
    font-family: sans-serif;
    color: indigo;
    background-color:yellow;
}
ul{
    line-height: 40px;
    font-size: 20px;
    background-color: lightcoral;
}